## Question 43 - Revenue trends for online vs. in store channels

Given the table below, called 'orders', write code to show the average revenue by month by channel:

In [6]:
import pandas as pd

orders = pd.DataFrame({'order_id':[1,2,3,4,5],
                       'channel':['online','online','in_store','in_store','online'],
                       'date':['2018-09-01','2018-09-03','2018-10-11','2018-08-21','2018-08-13'],
                      'month':['09','09','10','08','08'],
                      'revenue':[100,125,200,80,200]})
orders = orders[['order_id','channel','date','month','revenue']]
orders

   order_id   channel        date month  revenue
0         1    online  2018-09-01    09      100
1         2    online  2018-09-03    09      125
2         3  in_store  2018-10-11    10      200
3         4  in_store  2018-08-21    08       80
4         5    online  2018-08-13    08      200

Your result should return the following in a structured table:

Month | Channel | Avg. Revenue

In [8]:
pd.pivot_table(orders,values='revenue',index=['month','channel'],aggfunc='mean')

                revenue
month channel
08    in_store     80.0
      online      200.0
09    online      112.5
10    in_store    200.0