## Question 37 - Employees who are managers

* Question from Data Interview Qs https://www.interviewqs.com/ 

Suppose you're trying to understand how many managers you have per employee at Company XYZ. On your search to understand, you are given two tables: (1) managers and (2) employees. Each table has 1 column named id. 

Given this dataset, can you use SQL to find the employees that are also managers? Hint: given the table names as well as the single column name you should be able to write a full SQL query.

In [5]:
import pandas as pd
import random


#Let's create two tables with randon number generator.
managers = pd.DataFrame({"id":random.sample(range(100), 30)})
employees = pd.DataFrame({"id":random.sample(range(100),80)})

random.sample samples from the range without replacing. The id should be unique values. Let's confirm using *dataframe.duplicated*

In [12]:
managers[managers.duplicated()==True]

Empty DataFrame
Columns: [id]
Index: []

In [10]:
employees[employees.duplicated()==True]

Empty DataFrame
Columns: [id]
Index: []

In [19]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [20]:
managers.to_sql('Managers', con=engine)
employees.to_sql('Employees', con=engine)

In [42]:
a = engine.execute("SELECT id FROM Managers as A WHERE A.id not in (SELECT id FROM Employees)").fetchall()
pd.DataFrame(a, columns=['id'])

   id
0  12
1  98
2  32

Out of 30 managers and 80 employeees, we could find three employees who are also managers!