## Question 39 - Normalizing student grades with Pandas

You are given a dataframe containing student information, named df (shown below). Suppose you want to normalize each student's grade based on their age.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Age':[20,19,22,21],
                   'Favorite Color':['blue','blue','yellow','green'],
                   'Grade':[88,95,92,70],
                   'Name':['Willard Morris','Al Jennings','Omar Mullins','Spencer McDaniel']})
df

   Age Favorite Color  Grade              Name
0   20           blue     88    Willard Morris
1   19           blue     95       Al Jennings
2   22         yellow     92      Omar Mullins
3   21          green     70  Spencer McDaniel

Write a function using Python Pandas that will add a new column to your dataframe containing a new grade normalized against **the mean age** of the students.

In [6]:
#calculating the mean age of the students
meanage = df['Age'].mean()
meanage

20.5

In [7]:
df['NormalizedGrade']=df['Grade']/meanage
df

   Age Favorite Color  Grade              Name  NormalizedGrade
0   20           blue     88    Willard Morris         4.292683
1   19           blue     95       Al Jennings         4.634146
2   22         yellow     92      Omar Mullins         4.487805
3   21          green     70  Spencer McDaniel         3.414634